/* src/App.css */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #1a237e;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.header-title {
  border: 2px solid blue;
  padding: 10px;
  color: black;
  background-color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
}
